      </div>
      <footer class="text-center">
        <small>Nodetalk (Node Talk) - Project created when reading the book: <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a></small>
      </footer>
    </div>
  </body>
</html>
