<% include header %>
<header>
    <h1>Nodetalk</h1>
    <h4>Something bad happened, come back later</h4>
</header>
<p>
    Details:
    <br>
    <%- error.message %>
</p>
<hr>
<p>Back to <a href="/contacts">contacts</a></p>
<% include footer %>